/*Reset do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(../img/plane.png);
    background-size: auto 160vh;
    font-family: Arial;
    height: 100vh;
    font-size: 18px;
}

/*Se a tela tiver menos de 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.menu {
      background-color: purple;
      opacity: 60%;
      position: fixed;
      width: 100vw;
      top: 0;
    }

.menu a {
display:block;
padding: 10px 20px;
}

.contato li,
.menu li{
  list-style: none;
}

.contato ul,
.menu ul {
  display: flex;
  justify-content: space-around;
}

.sobre a {
  text-align: center;
    font-size: 2.1em;
    font-family: 'Amatic SC', cursive;
}

a, p a {
  color: white;
  text-decoration: none;
}
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title {
    color: rgb(150, 48, 53);
    text-align: center;
    font-size: 4em;
    font-family: 'Amatic SC', cursive;
  }
  
  .site-subtitle {
    color: rgb(150, 48, 53);
    text-align: center;
    font-size: 2.1em;
    font-family: 'Amatic SC', cursive;
  }

h2, p, p a{
  color: rgb(150, 48, 53);
    text-align: center;
    font-size: 2.1em;
    font-family: 'Amatic SC', cursive;
}


p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.portfolio .grid {
  display: grid;
  gap: 2em; 
}

@media (min-width: 560px) {
  .portfolio .grid {
  grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
  grid-template-columns: 240px 240px 240px;
  align-content: center;
  justify-content: center;
  
  }
}

.portfolio figure {
  text-align: center;
}

.contato h2,
.portfolio h2 {
  font-family: 'Dosis', sans-serif;
  color: rgb(150, 48, 53);
  margin-bottom: 1em;
  font-size: 2em;
}

.contato a,
.portfolio a {
  color:rgb(150, 5, 138);
  font-size: 1.2em;
}

.img-portfolio {
    height: 180px;
    width: 250px;
    border-radius: 15px;
    box-shadow: rgb(175, 73, 243, 0.7) 7px 7px 0 0;
    object-fit: cover;
    transition: transform 1s;
}

.img-portfolio:hover {
  transform: scale(0.9) rotate(-5deg);
}

.contato a{
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 6em;
  transition: text-shadow 1s;
}

.contato a:hover {
  text-shadow:0 15px 8px  rgb(175, 73, 243, 0.7);
}

@media (min-width: 560px) {
  .contato .grid {
  grid-template-columns: 240px 240px;
  align-content: center;
  text-align: center;
  justify-content: center;
  }
}

@media (min-width: 880px) {
  .contato .grid {
  grid-template-columns: 240px 240px 240px 240px;
  align-content: center;
  text-align: center;
  justify-content: center;
  
  }
}

.flip-card {
  perspective: 500px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-back {
  background-color: rgb(197, 60, 186);
  height: 180px;
  width:250px;
  border-radius: 15px;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}